QComboBox {
    font-size: 14px;
}

QLineEdit {
    font-size: 14px;
}

QListWidget {
    font-size: 14px;
}

QLabel {
    font-size: 14px;
}

QPushButton {
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: white;
}

QPushButton:hover {
    background-color: #e6f0ff;
    border: 2px solid #3399ff;
}

QPushButton:pressed {
    background-color: #cce0ff;
    border: 2px solid #3399ff;
}

QLabel#WelcomeTitle {
    font-size: 24px;
    font-weight: bold;
}
QLabel#WelcomeSubTitle {
    font-size: 16px
    color: gray;
}

QPushButton#ToolButton {
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ccc;
}

QPushButton#ToolButton:hover {
    background-color: #e6f0ff; /* light blue */
    border: 2px solid #3399ff;
}
QListWidget#ClassList{
    color: gray;
    font-style: italic;
    background: white;
}

QLabel#ImageLabel {
    border: 1px solid gray;
    background: white;
}

